
\.metadata/

\.recommenders/caches/

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_c\.fdt

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_c\.fdx

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_c\.fnm

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_c\.frq

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_c\.nrm

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_c\.tis

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_d

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments\.gen

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/write\.lock
/.recommenders/
